extends ../layout.pug
block content
		.row
			.col-md-6.col-md-offset-3
				section.card
					h1='Hi, ' + user.full_name
					img(src=user.profile_picture)
					h2=user.username
					p=user.bio
					a(href=user.website, target='_blank')=user.website
					a(href="profile/hashtag"): button.btn--primary view my top hashtags
