extends ../layout.pug
block content
	.container
		.row
			.col-sm-6.col-sm-offset-3
				section.card
					h1='Hi, ' + user.full_name
					.row
						.col-sm-4
							img(src=user.profile_picture)
						.col-sm-8
							h2=user.username
							p=user.bio
							a(href=user.website, target='_blank')=user.website
					a(href="profile/hashtag"): button.btn--primary view my top hashtags
